<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btcontract.wallet">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <supports-screens
        android:resizeable="true"
        android:anyDensity="true"
        android:smallScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:normalScreens="true"/>

    <application
        android:name="WalletApp"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name="MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <data android:scheme="bitcoin"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <activity
            android:launchMode="singleTask"
            android:name="WalletCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar"/>

        <activity
            android:launchMode="singleTask"
            android:name="WalletRestoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar"/>

        <activity
            android:name="WalletActivity"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/DarkBar"/>

        <activity
            android:name="TxsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LiteBar"/>

        <activity
            android:name="ScanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar"/>

        <activity
            android:name="RequestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar"/>

    </application>
</manifest>
